*, html {
margin: 0;
padding: 0;
}
.wrapper {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center; 
  }
  
  .wrapper > * {
    padding: 5%;
    flex: 1 100%;
  }
  
  .header {
    min-height: 150px;
    background: rgb(145, 108, 220);
  }
  
  .footer {
    min-height: 150px;
    background: rgb(228, 242, 31);
  }
  
  .main {
    min-height: 300px;
    text-align: left;
    background: rgb(210, 136, 8);
  }
  
  .aside-1 {
    background: gold;
  }
  
  .aside-2 {
    background: rgb(140, 85, 234);
  }
  
  @media all and (min-width: 600px) {
    .aside { flex: 1 0 0; }
  }
  
  @media all and (min-width: 800px) {
    .main    { flex: 3 0px; }
    .aside-1 { order: 1; } 
    .main    { order: 2; }
    .aside-2 { order: 3; }
    .footer  { order: 4; }
  }

  .flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .flex-item {
    background: tomato;
    padding: 5px;
    width: 200px;
    height: 150px;
    margin-top: 10px;
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
  }